<div class="container">
    <div class="my-3">
        <h2>of and from</h2>
        <br>
        <strong>Ex. 1: (OF)</strong> 
        <hr>

        <div class="row">
            <div class="col-md-6">
                <p class="bg-light py-3 px-2 border rounded">
                    <strong>Data :</strong>of("Nikhil", "Nithin", "Nidhish")
                </p>
                <hr>
                <ul id="elContainer">
                </ul>
                
            </div>
            <div class="col-md-6">
                <p class="bg-light py-3 px-2 border rounded">
                    <strong>Data :</strong>of(&#123;a:"Nikhil", b:"Nithin", c:"Nidhish"&#125;)
                </p>
                <hr>
                <ul id="elContainer2">
                </ul>
            </div>
        </div>
        <strong>Ex. 2: (FROM)</strong> 
        <hr>
        <div class="row">
            <div class="col-md-4">
                <strong>Array</strong>
                <hr>
                <p class="bg-light py-3 px-2 border rounded">
                    <strong>Data :</strong>from(["JavaScript", "Java", "Python"])
                </p>
                <ul id="elContainer3">
                </ul>
            </div>
            <div class="col-md-4">
                <strong>Promise</strong>
                <hr>
                <p class="bg-light py-3 px-2 border rounded">
                    <strong>Data :</strong>Promise to Observable
                </p>
                <ul id="elContainer4">
                </ul>
            </div>
            <div class="col-md-4">
                <strong>String</strong>
                <hr>
                <p class="bg-light py-3 px-2 border rounded">
                    <strong>Data :</strong>String to Observable
                </p>
                <ul id="elContainer5">
                </ul>
            </div>
        </div>
    </div>
</div>