<div class="container">
    <div class="my-3">
        <div class="row mt-3">
            <div class="col-md-12">
                <ul class="list">
                    <li>
                        <a routerLink="fromEvent">fromEvent</a>
                    </li>
                    <li>
                        <a routerLink="interval">Interval</a>
                    </li>
                    <li>
                        <a routerLink="fromEvent">fromEvent</a>
                    </li>
                    <li>
                        <a routerLink="fromEvent">fromEvent</a>
                    </li>
                </ul>
            </div>
    </div>
    </div>
</div>